kind: Deployment
apiVersion: apps/v1
metadata:
  name: kafka-broker0
  namespace: spring-cloud-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
      id: "0"
  template:
    metadata:
      labels:
        app: kafka
        id: "0"
    spec:
      containers:
      - name: kafka
        image: wurstmeister/kafka
        ports:
        - containerPort: 9092
        env:
        - name: KAFKA_ADVERTISED_PORT
          value: "9092" #"30718"
        - name: KAFKA_ADVERTISED_HOST_NAME
          value: kafka-service #192.168.1.240
        - name: KAFKA_ZOOKEEPER_CONNECT
          value: zoo1:2181
        - name: KAFKA_BROKER_ID
          value: "0"
        - name: KAFKA_CREATE_TOPICS
          value: admintome-test:1:1
        - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
          value: "1"
